@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two|Poppins');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  .navbar{
    background-color: #fff;
    li{
      color: #333;
    }
    .navbar-brand:hover{
      background-color: yellow;
      color: #000;
    }
    .icon-bar{
      background-color: black !important;
    }
  }
  h1, h2{
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }
  .handwriting{
    font-family: 'Shadows Into Light Two', cursive;
  }
  .about_container{
    padding-top: 40px;
    .social-media-links{
      text-align: center;
      margin-bottom: 10px;
      .fa{
        color: #bc368c;
      }
    }
    .bold{
      color: #bc368c;
    }
  }
  .work_container{
    .work-case{
      margin-top: 20px;
      .bg-color{
        background-color: #5c78e5;
        color: #fff;
      }
    }
    .bold{
      color: #5c78e5;
    }
  }
  .contact_container{
    .contact-info{
      margin-top: 20px;
    }
    .fa{
      color: #bc368c;
    }
  }
  .bold{
    font-weight: bold;
    color: #fc8392;
  }
  hr{
    margin-top: 35px !important;
  }
  a{
    color: #5c78e5;
  }
  .col-md-6{
    margin-top: 20px !important;
  }
  .navbar-inverse{
    border-style: none;
    .navbar-nav{
      @media (min-width: 768px){
        float: right;
      }
    }
    .navbar-nav>li>a:hover{
      background-color: yellow;
      color: black;
    }
    .navbar-nav>li>a:active{
      background-color: yellow;
      color: black;
    }
    .navbar-nav>li>a:focus{
      background-color: yellow;
      color: black;
    }
  }
  .jumbotron{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    .img_container{
      position: relative;
    }
    .floating_hl{
      z-index: 100;
      position: absolute !important;
      top: 20%;
      left: 5%;
      text-align: center;
      color: #fff;
    }
  }
 
}